@import './recursos';
@import './animacao';


nav {
    background-color: $secundary;
    width: 101.2%;
    height: 100px;
    margin: -8px -8px;
    margin-bottom: 50px;
    @include displayFlex();

    .navBotoes {
        text-align: center;
        margin-inline: 10px;
    }

    .botaoNav {
        background-color: transparent;
        font-family: "Josefin Sans", sans-serif;
        border: none;
        color: white;
        font-size: 1.3em;
    }
    #linhaCimaSobreNos {
        background-color: white;
        width: 110px;
        height: 2px;
    }
    #linhaBaixoSobreNos {
        background-color: white;
        width: 80px;
        height: 2px;
        margin-top: 5px;
        margin-left: 13px;
    }

    #linhaCimaProjetos {
        background-color: white;
        width: 110px;
        height: 2px;
    }
    #linhaBaixoProjetos {
        background-color: white;
        width: 80px;
        height: 2px;
        margin-top: 5px;
        margin-left: 13px;
    }

    #linhaCimaFeedBacks {
        background-color: white;
        width: 110px;
        height: 2px;
    }
    #linhaBaixoFeedBacks {
        background-color: white;
        width: 80px;
        height: 2px;
        margin-top: 5px;
        margin-left: 13px;
    }

    #linhaCimaContato {
        background-color: white;
        width: 110px;
        height: 2px;
    }
    #linhaBaixoContato {
        background-color: white;
        width: 80px;
        height: 2px;
        margin-top: 5px;
        margin-left: 13px;
    }
}